<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ipBascula1" value="192.168.147.8" />
    <add key="puertoBascula1" value="1234" />
    <add key="ipBascula2" value="192.168.147.9" />
    <add key="puertoBascula2" value="1234" />

    <add key="SISTEMA_ESCOGIDO" value="PRODUCCION"/>
    <add key="SAP_ESCOGIDO" value="DESARROLLO"/>

    
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient"/>
    
    <add key="DESARROLLO" value="Data Source=192.168.146.9;DataBase=GPL_DES;Connect Timeout=30;user=usrdbconn;password=sql2sap;MultipleActiveResultSets=True"/>
    <add key="PRODUCCION" value="Data Source=192.168.146.9;DataBase=GPL;Connect Timeout=30;user=alfonso.tolosa;password=n6pmW80;MultipleActiveResultSets=True"/>
    <add key="PORTERIA_DESARROLLO" value="Data Source=192.168.146.35;DataBase=PORTERIA;Connect Timeout=30;user=usrdbconn;password=sql2sap;MultipleActiveResultSets=True"/>
    <add key="PORTERIA_PRODUCCION" value="Data Source=192.168.146.7;DataBase=PORTERIA;Connect Timeout=30;user=usrdbconn;password=sql2sap;MultipleActiveResultSets=True"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="Resolucion_Ancho" value="1400"/>
    <add key="Resolucion_Largo" value="900"/>

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IhostBascula" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:9002/BasculaService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IhostBascula" contract="hostBasculaPL.IhostBascula"
        name="NetTcpBinding_IhostBascula">
        <identity>
          <servicePrincipalName value="host/CLDPC0083.clay.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>